h2{
    color:#013e58;
    text-decoration: underline;
}

button{
    background-color: #013e58;
}

.titreIndex{
    color: white;
    background-color:#013e58 ;
}

.patientCard{
    border: solid #013e58 2px;
}

.patientList{
    border-bottom: solid 1px #013e58 ;
    padding-left: 15px;
}

.patientList:hover{
    background-color: #013e585a;
}

.linkFichePatient{
    color:#013e58 ;
}



body{
    background-image: url("https://e0.pxfuel.com/wallpapers/815/325/desktop-wallpaper-background-for-hospital-website-tip.jpg");
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
}


.container{
    margin-top: 50px;
    background-color: #d8f0f9 !important;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}